/* Navbar Container */
.navbar {
  background: rgba(255, 255, 255, 0.2); /* Translucent white with blur effect */
  backdrop-filter: blur(20px); /* Blur effect to simulate glass */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Border to define edges */
  border-radius: 10px;
}

/* Navbar Items */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
}

.navbar-logo {
  color: #fff;
  margin-left: 175px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

/* Icon Styles */
.nav--icon {
  height: 60px;
  padding-left: 20px;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

/* Nav Links */
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links, .nav--element--1, .nav--element--2 {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav--element--1, .nav--element--2 {
  margin-left: 20px;
}

.nav-links:hover, .nav--element--1:hover, .nav--element--2:hover {
  color: #050404; /* Hover effect */
}

/* Mobile Menu */
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #242222;
    width: 100%;
    height: 90vh;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: block;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    width: 80%;
    padding: 14px 20px;
    border: 1px solid #fff;
    font-size: 1.5rem;
    color: #fff;
    background-color: transparent;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
  }
}

/* Logout Button */
.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
}

.logout-button:hover {
  background-color: #ff1a1a;
}
