nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2); /* Translucent white */
    backdrop-filter: blur(20px); /* Blur effect to simulate glass */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    height: 100%;
    padding: 5px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Optional border to define edges */
    border-radius: 10px; /* Smooth corners */
}

.nav--icon {
        color: #fff;
        justify-self: start;

        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        align-items: center;
        height:100%;


      
}

.nav-elements {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav--element--1 {
    margin-right: 50px;
    margin-left: 20px;
    color: #48494b;
    font-weight: 600;
    cursor: pointer;
}

.nav--element--2 {
    margin-left: 20px;
    color: #48494b;
    font-weight: 600;
    cursor: pointer;
}

.nav--element--1:hover, .nav--element--2:hover {
    color: #050404; /* Change color on hover */
}
.logout-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
}

.logout-button:hover {
    background-color: #ff1a1a;
}

